<h1><%= @user.name %>'s Profile </h1>

<% if @session_id == @user.id %>
  <button type="button" name="button"><%= link_to "Add a new song", new_song_path %></button>
<% end %>

<% if @session_id != @user.id %>
  <% if @user.follows.map{|f| f.follower_id}.include?(@session_id) %>
    <%= button_to "Unfollow", action: "unfollow", mehtod: :post %>
  <% else %>
      <%= button_to "Follow", action: "follow", mehtod: :post %>
  <% end %>

<% end %><br><br>




<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-6">
      <h3>Your Songs:</h3>
      <% @user.songs.each do |song| %>
        <h4><%= link_to song.name, song %></h4>
      <% end %>
    </div>

    <div class="col col-lg-6">
      <h3>Artists you are following: </h3> 
      <%  @following.each do |follow| %>
        <h4>Name: <%= link_to User.find(follow.user_id).name,  User.find(follow.user_id)%></h4>
          <% User.find(follow.user_id).songs.each do |song|%>
            <ul>
              <li><%= link_to song.name, song_path(song) %></li>
            </ul>

          <% end %>
      <% end %><br>
    </div>
  </div>
</div>

<br><br>



<%  if @session_id == @user.id %>
  <button type="button" name="button"><%= link_to 'Edit my profile', edit_user_path(@user) %></button><br><br>

  <button type="button" name="button"><%= link_to 'Delete my account', @user, method: 'delete', data: {confirm: "Are you sure?"}  %></button><br><br>
<% end %>

  <button type="button" name="button"><%= link_to 'All Users', users_path %></button>
