<h1><%= @user.name %>'s Profile </h1>

<% if @session_id != @user.id %>
  <% if @user.follows.map{|f| f.follower_id}.include?(@session_id) %>
    <%= button_to "Unfollow", action: "unfollow", mehtod: :post %>
  <% else %>
      <%= button_to "Follow", action: "follow", mehtod: :post %>
  <% end %>

<% end %>





<h4>List of Songs:</h4>
<% @user.songs.each do |song| %>
  <%= link_to song.name, song %><br><br>
<% end %>

------------<br><br>

<h4>Artists you are following: </h4>
<%  @following.each do |follow| %>
  <%= link_to follow.name, follow %>
<% end %>

<br><br>

------------<br><br>
<button type="button" name="button"><%= link_to 'Edit', edit_user_path(@user) %></button><br><br>

<button type="button" name="button"><%= link_to 'Delete', @user, method: 'delete' %></button><br><br>

<button type="button" name="button"><%= link_to 'All Users', users_path %></button>
