
<h2>Song Name: <%= @song.name %></h2>
<h2>Artist: <%= link_to @song.user.name, @song.user %></h2>


  <audio  src= <%= @song.song_url %> preload="auto" controls></audio>
  <script src="jquery.js"></script>
  <script src="audioplayer.js"></script>
  <script>$( function() { $( 'audio' ).audioPlayer(
  {
  	classPrefix: 'player', // default value: 'audioplayer'
  	strPlay: 'Play', // default value: 'Play'
  	strPause: 'Pause', // default value: 'Pause'
  	strVolume: 'Volume', // default value: 'Volume'
  }); } );</script>


<h3>Feedback: </h3>
<% @song.comments.each do |comment|%>
<ul>
  <li><strong><%=comment.user.name %>:</strong> <%=comment.content%></li>
</ul>
<% end %>

<%= link_to "Hide", "", class: 'hide', data: {'js-hide-link' => true} %>
