<%  if @session_id == @user.id %>
  <button type="button" name="button"><%= link_to 'Delete my song', @song, method: 'delete', data: {confirm: "Are you sure?"}  %></button><br>
<% end %>


<h1><%= @song.name %></h1>
<h2>Artist: <%= link_to @song.user.name, @song.user %></h2>

<div style="width:500px; margin:0 auto;">
  <img src= <%= @song.image_url %> height="100" width="100">&nbsp &nbsp &nbsp
  <audio src= <%= @song.song_url %> controls style="vertical-align: middle"></audio>
</div>



<div style="width:500px; margin:0 auto;">
  <br>
  <h3>Feedback: </h3>
  <br>
  <% if @song.user.id != session[:user_id] %>


    <%= form_for @comment do |f| %>

    <div class="form-group">
      <%= f.label "Timestamp: [00:00]" %>
      <%= f.text_field :timestamp, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label "Add feedback: " %>
      <%= f.text_area :content, class: 'form-control' %>
      <%= f.hidden_field :song_id, value: @song.id %>
    </div>

      <%= f.submit name="Add Feedback" %>
    <% end %>
  <% end %>
  <br>

  <% @sorted_comments.each do |comment|%>
  <ul>
    <li><strong><%=comment.user.name %>:</strong>
      <br>
       <%=comment.timestamp%>
      <strong>feedback: </strong><%=comment.content%></li>
      <br>
  </ul>
  <% end %>

</div>
