
<h2>Song Name: <%= @song.name %></h2>
<h2>Artist: <%= link_to @song.user.name, @song.user %></h2>

<audio src= <%= @song.song_url %> controls></audio>


<h3>Feedback: </h3>

<% if @song.user.id != session[:user_id] %>
  <%= form_for @comment do |f| %>
    <%= f.label "Add feedback: " %>
    <%= f.text_field :content %>
    <%=  f.hidden_field :song_id, value: @song.id %>
    <%= f.submit %>
  <% end %>
<% end %>


<% @song.comments.each do |comment|%>
<ul>
  <li><strong><%=comment.user.name %>:</strong> <%=comment.content%></li>
</ul>
<% end %>

<%= link_to "My Profile Page", @user %>
